<div class="mt-5 px-5">
	<span>
		<a href="https://j9108c.com">index</a>
		<span class="monospace mx-1">/</span>
		<a class="boxed px-1" href="https://j9108c.com/apps">apps</a>
		<span class="monospace mx-1">/</span>
		<div class="btn-group dropright">
			<button type="button" class="btn btn-link dropdown-toggle px-1 py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div id="dropright_menu" class="dropdown-menu px-2 py-0">
				<a href="https://j9108c.com/apps/dark-mode-pdf">dark mode pdf</a>
			</div>
		</div>
	</span>
</div>
<div class="mt-4">
	<h1 class="ml-5">j9108c — apps</h1>
	<div id="big_box" class="px-3">
		<h1 class="text-center mt-2">UNDER CONSTRUCTION</h1>
	</div>
</div>
<div class="mt-1">
	<span>&#169; 2021 | <a href="https://j9108c.com/stats">stats</a> | <a href="mailto:j9108c@outlook.com">contact</a></span>
</div>
