<div class="mt-5 px-5">
	<span>
		<a href="{{{hosts.[1025]}}}">index</a>
		<span class="consolas mx-1">/</span>
		<a href="{{{hosts.[1025]}}}/apps">apps</a>
		<span class="consolas mx-1">/</span>
		<div class="btn-group dropright">
			<button type="button" class="btn btn-link dropdown-toggle px-1 py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div id="dropright_menu" class="dropdown-menu px-2 py-0">
				<a href="{{{hosts.[2000]}}}/apps/dark-mode-pdf">dark mode pdf</a>
			</div>
		</div>
	</span>
</div>
<div class="mt-4">
	<h1 class="ml-5">j9108c — cloudflare zone analytics</h1>
	<div id="big_box" class="px-3">
		<h2 class="text-center mt-1 mb-0">domain requests</h2>
		<h6 class="text-center mt-1">(realtime data from cloudflare graphql analytics api)</h6>
		<h4 class="text-center mt-1">updates in <span class="countdown_wrapper"></span> seconds</h4>
		<h3 class="mt-3">today: <span class="today_total_wrapper"></span></h3>
		<table class="table table-bordered table-hover table-dark text-center mt-0">
			<thead>
				<tr>
					<th>country</th>
					<th>#</th>
					<th>requests</th>
				</tr>
			</thead>
			<tbody id="today_table_body_wrapper"></tbody>
		</table>
		<h3 class="mt-5">last 7 days: <span class="last7days_total_wrapper"></span></h3>
		<table class="table table-bordered table-hover table-dark text-center mt-0">
			<thead>
				<tr>
					<th>country</th>
					<th>#</th>
					<th>requests</th>
				</tr>
			</thead>
			<tbody id="last7days_table_body_wrapper"></tbody>
		</table>
		<h3 class="mt-5">last 30 days: <span class="last30days_total_wrapper"></span></h3>
		<table class="table table-bordered table-hover table-dark text-center mt-0">
			<thead>
				<tr>
					<th>country</th>
					<th>#</th>
					<th>requests</th>
				</tr>
			</thead>
			<tbody id="last30days_table_body_wrapper"></tbody>
		</table>
	</div>
</div>
<div class="mt-1">
	<span>&#169; 2021 <b class="pipe">|</b> hosted on digitalocean with nginx reverse proxy <b class="pipe">|</b> <a class="boxed px-1" href="{{{hosts.[1025]}}}/stats">stats</a> <b class="pipe">|</b> <a href="mailto:j9108c@outlook.com">contact</a></span>
</div>
